@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    button {
      margin: 20px;
      color: whitesmoke;
      background-color: skyblue;
      size: 30px;
      padding: 15px;
    }
  }
}
