* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  color: red;
}

.promo-section {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  margin-left: 40%;
}

.h1ofSidebar {
  color: yellow;
  display: block;
  background-color: black;
  flex: 1;
}

.h2ofSidebar {
  color: purple;
  display: block;
  background-color: #61dafb;
  flex: 2;
  font-size: 32px;
}

.example {
  color: black;
  margin-top: 30px;
}

.mylove {
  max-height: 100%;
  max-width: 100%;
}

.hi {
  margin: 20px;
  max-width: 300px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}