body {
	background-color: rgb(0, 255, 26);
	}

h1 {
	color: red;
	text-align: center;
	}

p   {
	font-family: "Arial";
	font-size: 20px;
	}

.pinkboldtext {
	font-size: medium;
	color: rgb(255, 0, 255);
	font-weight: bold;
	text-decoration: underline;
}

.hightlight {
	font-size: 20px;
	color: rgb(7, 7, 7);
	text-decoration: underline;
	font-weight: bold;
	background-color: yellow;
	
}