*{
  margin: 0;
  padding: 0;
  /* Giá trị thông thường của box-sizing là content-box, điều này có nghĩa là kích thước của phần tử chỉ bao gồm nội dung bên trong và không tính thêm đường biên và đệm.
  Khi sử dụng box-sizing: border-box;, kích thước của phần tử sẽ bao gồm cả đường biên và đệm. Nói cách khác, kích thước tổng cộng của phần tử sẽ được tính toán bằng tổng kích thước của nội dung, đường biên và đệm. */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* background-color: #444; */
  position: relative;
}

/* box in css */
header {
  background-color: #f7f7f7;
  /* padding toan bo */
  /* padding: 20px; */

  /* padding (top bot) (trai phai) */
  padding: 15px 20px;
  /* border: black 2px solid; */
}

.title-web {
  /* margin follow clockwise  */
  /* margin: 5px 10px 15px 20px; */
  margin: 20px;
  text-align: center;
  /* border: 2px solid black; */
}


ul, 
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin: auto;
  background-color: #f7f7f7;
}

h1 {
  color: blue;
  /* in hoa hay thuong */
  text-transform: uppercase;
  /* chu nghieng hay chu thuong */
  font-style: italic;
}

h2 {
  color: red;
}

h3 {
  color: red;
  /* chinh can chu */
  text-align: center;
}

h4 {
  color: purple;
  font-size: 20px;
  text-align:left;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  /* do cao giua cac dong*/
  line-height: 1.5;
}

li {
  font-size: 15px;
}

/*p nam trong footer  */

#author {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.clear-list {
  /* huy list */
  /* list-style: none */

  list-style: square;
}

.reset-list {
  list-style:lower-roman; 
}


/* lop gia  */

/* phan tu dau tien */
 li:first-child {
  font-weight: bold;
 }

 li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

/* phan tu la so le */
li:nth-child(odd) {
  text-decoration: underline;
}

/* phan tu la so chan */
li:nth-child(even) {
  text-decoration: line-through;
}

/* link mac dinh */
a:link {
  color: #1098ad; 
}

/* lnk da duoc ghe tham  */
a:visited {
  color: red;
}

/* di chuot vao do */
a:hover {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

/* khi nhan vao */
a:active {
  background-color: black;
  font-style: italic;
}

/* the first letter in line */
.Title-all::first-letter {
  font-style: normal;
  color: red;
}


/* only the line after h3 are affected  */
h3 + p::first-line {
  color: red;
}

/* add content after element */

.title-web {
  position: relative;
}

/* .title-web::after {
  content: "Top";
  font-size: 15px;
  color: black;
  background-color: yellow;
  position: absolute;
  display: inline-block;
  padding: 5px 5px;
  right: 0;
  top: 0;
} */

/* .title-web::before {
  content: "Hi";
  font-size: 15px;
  color: black;
  background-color: yellow;
  margin-right: 10px;
  padding: 5px 5px;
} */
/* resolving conflicts */

/*  
#copyright {
  font-size: 13px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: red;
}

.copyright {
  color: #1098ad;
}

.text {
  color: chartreuse !        rtant;
}

footer p{
  color: yellow !important;
}

*/


/* types of boxes */
li {
  /* viet cac list thanh mot hang ngang */
  /* display: inline; */

/* DISPLATY theo cac block */
  /* display: block; */
  margin: 10px;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:last-child {
  margin-right:0;
}

.picture-html {
  height: auto;
  width: 100%;
  margin: 50px 0;
}


.btn-like {
  font-size: 20px;
  cursor: pointer;
  padding: 15px;


  position: absolute;
  bottom: 0;
  right: 0;
}

.author-img {
  /* float: left; đặt phần tử author-img nổi lên về phía 
  trái và cho phép các phần tử khác theo sau nó theo chiều ngang.*/
  float: left;

}

.author {
  /* padding-left: 80px; */
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}

.Title-all {
  margin-right: 15px;
  float: left;
}

.title-link {
  float: right;
}

.header-title {
  background-color: greenyellow;
}

.clear {
  /* dung de xoa float o tren */
  clear: both;
}

.clearfix::after {
  clear: both;
  display: block;
  content: '';
}




article {
  width: 900px;
  float: left;
}

aside {
  width: 300px;
  float: right;

}

.copyright {
  clear: both;
  font-style: italic;
  font-size: small;
}

.related {
  list-style: none;
  margin-left: 0; 
}


aside {
  background-color: #afafaf2b;
  /* border: 5px solid rgba(90, 212, 14, 0.764); */
  /* 
  dotted: la vien bang dau cham tron xung quanh
  dashed: la duong vien gach ngang 
  */
  /* border-bottom: 10px dashed rgba(150, 30, 132, 0.764);
  border-top: 10px dotted rgba(42, 36, 192, 0.764); */
  padding: 40px 30px;
  border-bottom:5px  #1098ad solid;
  border-top:5px  #1098ad solid;
  margin-top: 40px;
}