body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(hinh.png);
  height: 100vh;
  background-size: cover; /* Use cover instead of 100% for better background scaling */
  margin: 0;
  font-family: "Arial", sans-serif;
}

#countdown-input,
#timer {
  margin: 10px;
  color: red;
  font-size: 55px; /* Correct property name */
  top: 20px;
}

button {
  padding: 10px;
  cursor: pointer;
}
